* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #F2BD00;
    width: 100vw;
}

.header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-section img {
    width: 300px;
}

.button-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.message-section {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-deck {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    padding-inline: 40px;
}